body {
  background-color: #f4f3ef;
  font-family: sans-serif;
}
/*Title class*/
.title {
  color: #1b4377;
  width:50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.face {
  width: 25%;
  float:none;
}

.lastName {
  color: #db3e30;
}
/*============*/

.con {
  background-color: #db3e30;
  color: #f4f3ef;
  width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.ach {
  background-color: #db3e30;
  color: #f4f3ef;
  width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.qual {
  background-color: #db3e30;
  color: #f4f3ef;
  width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

h2 {
  color: #1b4377;
  text-align: center;
}

ul {
  color: #f4f3ef;
  list-style-type: none;
  padding-left: 0;
}
